// Redirecting to development path
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// to avoid stranges urls
$bootstrap-sass-asset-helper: false;

// Importing bootstrap
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';



// Component styles are injected through gulp
/* inject:scss */
@import '../styles/scaffolding';
@import '../components/navbar/navbar';
@import 'main/main';
/* endinject */


// Specific app styles
$color: red;

body {
  background-color: $color;
  background-color: green;
  // width: 100%;

  p {
    margin-top: 800px;
    display: inline-block;
    box-sizing: border-box;
  }
}
